{% extends "UserGlobal/userGlobal.html" %} {% block mainHomepage %} {% spaceless %}
<div class="row mx-3">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-3 py-5 text-center">
            <div class="card-body">
                <a href="{{ BASE }}user/categories" class="card-title">Kategorije</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-3 py-5 text-center">
            <div class="card-body">
                <a href="{{ BASE }}user/books" class="card-title">Knjige</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-3 py-5 text-center">
            <div class="card-body">
                <a href="{{ BASE }}user/authors" class="card-title">Autori</a>
            </div>
        </div>
    </div>

</div>
{% endspaceless %} {% endblock %}