{% extends "UserGlobal/userGlobal.html" %} 
{% block mainHomepage %} 
{% spaceless %}

<div class="row text-center mx-1">
    <h1 class="col-10 col-sm-10 col-md-10 col-lg-11 ">Autori</h1>
    <a class="btn btn-info col-2 col-sm-2 col-md-2 col-lg-1 my-1 py-0 text-center" href="{{ BASE }}user/authors/add" role="button">
        <i class="fa fa-plus py-3" aria-hidden="true"></i>
</a>
</div>

<div class="row mx-3 rCustom">
    {% for author in authors %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-3 text-center">
            <div class="card-body cCustom">
                <p class="card-title lead">
                    <b>{{ author.name|escape}} {{ author.surname|escape}}</b>
                </p>
            </div>
            <div class="card-footer">
                    <a href="{{ BASE }}user/author/{{author.author_id}}" class="btn btn-info">Vidi knjige</a>
                </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endspaceless %} 
{% endblock %}