{% extends "UserGlobal/userGlobal.html" %}
 {% block mainHomepage %} 
 {% spaceless %}
<div class="row mx-3 my-3">
    <a class="btn btn-info mr-1" href="{{ BASE }}user/authors" role="button">Pregled autora</a>
    <a class="btn btn-info" href="{{ BASE }}user/authors/add" role="button">Dodaj autora</a>
</div>

<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-header">Izmeni autora</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Ime:</label>
                    <input type="text" id="name" name="name" value="{{ author.name|escape }}"  class="form-control" >
                </div>
                <div class="form-group">
                    <label for="surname">Prezime:</label>
                    <input type="text" id="surname" name="surname" value="{{ author.surname|escape }}" class="form-control">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Dodaj</button>
            </div>
    </form>
    </div>
    {% endspaceless %}
    {% endblock %}



