{% extends "UserGlobal/userGlobal.html" %}
 {% block mainHomepage %}
  {% spaceless %}

<div class="row mx-3">
        <div class="row col-12 text center mx-3">
            <h1 class="col-10 col-sm-10 col-md-10 col-lg-11 ">{{ book.title|escape }}</h1>
            <a class="btn btn-info col-2 col-sm-2 col-md-2 col-lg-1 my-1 py-0 text-center" href="{{ BASE }}user/books/edit/{{book.book_id}}" role="button">
                <i class="fa fa-pencil py-3" aria-hidden="true"></i>    
            </a>
        </div>
    
        <div class="col-12 col-sm-10 offset-sm-1 col-md-4 offset-md-0 col-lg-4 offset-lg-0">
            <img src="{{ BASE }}{{ photo.path }}" class="book_cover">
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <table class="table mt-3 ">
            <tbody > 
                <tr>
                    <th>Autor</th>
                    <td>{{ author.name }} {{author.surname}}</td>
                </tr>
                <tr>
                    <th>Godina izdanja</th>
                    <td>{{ book.print_year }}</td>
                </tr>
                <tr>
                    <th>Jezik</th>
                    <td>{{ book.language}}</td>
                </tr>
                <tr>
                    <th>Originalni naziv</th>
                    <td>{{ book.original_title }}</td>
                </tr>
                <tr>
                    <th>Broj publikacije</th>
                    <td>{{ book.publication_number }}</td>
                </tr>
                <tr>
                    <th>Lokacija</th>
                    <td>{{book.location_id}}</td>
                </tr>
    
            </tbody>
        </table>
    </div>
    
    </div>

{% endspaceless %}
 {% endblock %}





