{% extends "UserGlobal/userGlobal.html" %}
 {% block mainHomepage %}
  {% spaceless %}
<div class="row mx-3 my-3">
    <a class="btn btn-info" href="{{ BASE }}user/books" role="button">Pregled knjiga</a>
</div>

<div class="row">
    <form method="POST" enctype="multipart/form-data" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-header">Dodaj knjigu</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="title">Naslov knjige</label>
                    <input type="text" id="title" name="title" value="{{ book.title|escape }}" required class="form-control" placeholder="Unesite naslov dela">
                </div>
                <div class="form-group">
                    <label for="original_title">Originalni naslov</label>
                    <input type="text" id="original_title" name="original_title" class="form-control" placeholder="Unesite originalni naslov">
                </div>
                <div class="form-group">
                    <label for="print_year">Godina izdanja</label>
                    <input type="text" id="print_year" name="print_year" required class="form-control" placeholder="Unesite godinu izdanja">
                </div>
                <div class="form-group">
                    <label for="publication_number">Broj izdanja</label>
                    <input type="number" id="publication_number" name="publication_number" required class="form-control" placeholder="Unesite broj izdanja">
                </div>
                <div class="form-group">
                    <label for="language">Jezik</label>
                    <input type="text" id="language" name="language" required class="form-control" placeholder="Unesite jezik dela">
                </div>
                <div class="form-group">
                    <label for="publisher_id">Izdavač</label>
                    <input type="number" id="publisher_id" name="publisher_id" required class="form-control" placeholder="Unesite naziv izdavača">
                </div>
                <div class="form-group">
                    <label for="location_id">Lokacija</label>
                    <input type="number" id="location_id" name="location_id" required class="form-control" placeholder="Unesite lokaciju dela">
                </div>
                <div class="form-group">  
                    <label>Autori</label>  <br>         
                    {% for author in authors %}
                        <input type ="checkbox" name="authors[]" value="{{author.author_id}}"/>
                        <label class="pr-1" for="author_id">{{author.name|escape}} {{author.surname|escape}}</label>
                      
                    {% endfor %}                           
                </div>
                <div class="form-group">
                        <label>Kategorije</label> <br>
                        {% for category in categories %}
                            <input type ="checkbox" name="categories[]" value="{{category.category_id}}"/>
                            <label class="pr-1" for="category_id">{{category.name|escape}}</label>
                        {% endfor %}
        
                </div>
                <div class="form-group">
                    <label for="photo">Fotografija</label> <br>
                    <input type="file" id="photo" name="photo" required accepts="photo/png">
                </div>
    
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Dodaj</button>
            </div>
    </form>
    </div>
    {% endspaceless %} 
    {% endblock %}