{% extends "UserGlobal/userGlobal.html" %}
 {% block mainHomepage %}
  {% spaceless %}
<div class="row mx-3 my-3">
    <a class="btn btn-info" href="{{ BASE }}user/books" role="button">Pregled knjiga</a>
</div>

<div class="row my-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
    <div class="card">
                <div class="card-body text-center">
                        <p> {{ message|escape }}</p>
                </div>
    </div>
</div>
</div>
    {% endspaceless %}
     {% endblock %}