{% extends "Global/index.html" %}
{% block main %}
{% spaceless %}
<div class="row mx-3 rCustom">
        {% for category in categories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card mb-3 py-5 text-center" >
            <div class="card-body">
                    <a href="{{ BASE }}category/{{ category.category_id}}" 
                    class="card-title">                
                        {{ category.name|escape}}
                    </a> 
            </div>
        </div>
    </div>      
        {% endfor %}
</div>    
{% endspaceless %}  
{% endblock %}