{% extends "Global/index.html" %} {% block main %} {% spaceless %}

<div class="row my-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
    <div class="card">
                <div class="card-body text-center">
                        <p>{{ message }}</p>
                        <p>Klikni <a href="login ">ovde</a> da se vratiš nazad.</p>
                </div>
    </div>
</div>
</div>
{% endspaceless %} {% endblock %}