.category {
    padding: 50px 0px;
 }
 
 img {
     margin-top: 10px;
 }
 
 nav{
     margin-bottom: 5px;
 }
 
 
 
 .container-fluid {
     padding-right: 0px;
     padding-left: 0px;
 }
 
 .login {
     text-decoration: none !important;
     color: white;
 }
 
 .login:hover {
     color: white;
 }
 
 .card{
     min-width: 100%;
 }
 
 
 .row.rCustom > div[class*='col-'] {
     display: flex;
     flex:1 0 auto;
   }
 
 .footer {
     text-align: center;

 }

 .card > .card-image-top {
    margin-top: 0px;
    max-height: 50%
 }
 
 .card-body.cCustom {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 div > .custom {
     margin-top: 35px;
 }

.book_cover{
    max-width: 100%;
    max-height: 85%;

}

table > th td{
    padding-right: 0;
    padding-left: 0;
}
