{% extends "Global/index.html" %} {% block main %} {% spaceless %}
<div class="row mx-3 rCustom">
    <h1 class="col-12 text-center">Knjige</h1>

    {% for book in books %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-2 text-center">
            <div class="card-body cCustom">
                <p class="card-title lead"><b>{{ book.title|escape}}</b></p>
            </div>
            <div class="card-footer">
                <a href="{{ BASE }}book/{{ book.book_id}}" class="btn btn-info">Vidi više</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endspaceless %} {% endblock %}