{% extends "UserGlobal/userGlobal.html" %} {% block mainHomepage %} {% spaceless %}

<div class="row text-center mx-1">
    <h1 class="col-10 col-sm-10 col-md-10 col-lg-11 ">Kategorije</h1>
    <a class="btn btn-info col-2 col-sm-2 col-md-2 col-lg-1 my-1 py-0 text-center" href="{{ BASE }}user/categories/add" role="button">
        <i class="fa fa-plus py-3" aria-hidden="true"></i>
</a>
</div>

<div class="row mx-3 rCustom">
    {% for category in categories %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card mb-3 py-5 text-center">
            <div class="card-body cCustom">
                <a href="{{ BASE }}user/category/{{category.category_id}}" class="card-title lead">
                 {{ category.name|escape}}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endspaceless %} {% endblock %}