{% extends "UserGlobal/userGlobal.html" %} {% block mainHomepage %} {% spaceless %}

<div class="row mx-3">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-11 ">{{ category.name|escape }}</h1>
        <a class="btn btn-info col-2 col-sm-2 col-md-2 col-lg-1 my-1 py-0 text-center" href="{ BASE }}user/categories/edit/{{category.category_id}}" role="button">
            <i class="fa fa-pencil py-3" aria-hidden="true"></i>    
        </a>
    </div>
    
    <div class="row mx-3">
        <h2 class=" text-center col-12 col-sm-12 col-md-12 col-lg-12">Izdanja u ovoj kategoriji</h2>
    </div>
    
    <div class="row mx-3 rCustom">
            {% for book in booksInCategory %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card mb-2 text-center">
                    <div class="card-body cCustom">
                        <p class="card-title lead"><b>{{ book.title|escape}}</b></p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ BASE }}user/book/{{ book.book_id}}" class="btn btn-info">Vidi više</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div
{% endspaceless %} {% endblock %}



