<!doctype html>
<html>

<head>
    <title>BOOKCAVE</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{BASE}}/assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{BASE}}/assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{BASE}}/assets/css/main.css">
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="row col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
                <a href="{{ BASE }}">
                    <img class="img-fluid" src="{{ BASE }}assets/img/BN.png" alt="Banner 1">
                </a>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}user/homepage">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}user/books">Knjige</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}user/categories">Kategorije</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}user/authors">Autori</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="post" action="{{ BASE }}search">
                        <input type="text" class="form-control " name="q" placeholder="Unesi reči za pretragu" aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">Pretraži</button>
                    </form>
                    <button class="btn btn-info my-2 my-sm-0 ml-2" type="submit" data-toggle="modal" data-target="#detailedSearch">Detaljna
                        pretraga</button>
                    <button class="btn btn-info my-2 my-sm-0 ml-2" type="submit">
                        <a class="login" href="{{ BASE }}logout">Izloguj se</a>
                    </button>

                </div>
            </nav>

        </header>

        <main>
            {% block mainHomepage %} {% endblock %}
        </main>

        <div class="row custom">
            <footer class="footer bg-light col-12 py-1 fixed-bottom">&copy; 2018 BookCave</footer>
        </div>

        <div class="modal fade" id="detailedSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detaljna pretraga </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ BASE }}combinedsearch">
                            <div class="form-group">
                                <label for="book">Naslov</label>
                                <input type="text" id="input_book" name="title" class="form-control" placeholder="Unesite naslov ili originalni naslov knjige">
                            </div>
                            <div class="form-group">
                                <label for="auhor">Autor</label>
                                <input type="text" id="input_author" name="author" class="form-control" placeholder="Unesite ime ili prezime autora">
                            </div>

                            <div class="form-group">
                                <label for="category">Kategorija</label>
                                <input type="text" id="input_category" name="category" class="form-control" placeholder="Unesite kategoriju">
                            </div>

                            <div class="form-group">
                                <label for="title">Izdavač</label>
                                <input type="text" id="input_title" name="publisher" class="form-control" placeholder="Unesite naziv izdavača">
                            </div>

                            <div class="form-group">
                                <label for="year">Godina izdanja</label>
                                <input type="text" id="input_title" name="print_year" class="form-control" placeholder="Unesite godinu izdanja">
                            </div>

                            <form action="{{ BASE }}combinedsearch">
                                <button class="btn btn-info" type="submit" value="Pretraži">Pretraži</button>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>const BASE = '{{ BASE }}';</script>
    <script src="{{BASE}}/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{BASE}}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    </div>
</body>

</html>