{% extends "Global/index.html" %}
{% block main %}
{% spaceless %}

<div class="row text-center mx-1">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-11 ">Izdavači</h1>
    </div>
    
    <div class="row mx-3 rCustom">
        {% for publisher in publishers %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card mb-3 text-center">
                <div class="card-body cCustom">
                    <p class="card-title lead">
                        <b>{{ publisher.name|escape}}</b>
                    </p>
                </div>
                <div class="card-footer">
                        <a href="{{ BASE }}publisher/{{ publisher.publisher_id}}"  class="btn btn-info">Vidi knjige</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>

  
{% endspaceless %}  
{% endblock %}