{% extends "Global/index.html" %}
{% block main %} {% spaceless %}

<div class="row mx-3">
        <h1 class=" text-center col-12 col-sm-12 col-md-12 col-lg-12">{{ publisher.name|escape }}</h1>
    </div>
    
    <div class="row mx-3">
        <h2 class=" text-center col-12 col-sm-12 col-md-12 col-lg-12">Izdanja ovog izdavača</h2>
    </div>
    
    <div class="row mx-3 rCustom">
        {% for book in booksByPublisher %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card mb-2 text-center">
                <div class="card-body cCustom">
                    <p class="card-title lead"><b>{{ book.title|escape}}</b></p>
                </div>
                <div class="card-footer">
                    <a href="{{ BASE }}book/{{ book.book_id}}" class="btn btn-info">Vidi više</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    {% endspaceless %}
{% endblock %}